<!DOCTYPE html>
<html>
<head>
    <title>Quiz Result</title>
    <link rel="stylesheet" type="text/css" href="/static/quiz/styles.css">
</head>
<body>
    <div class="quiz-container">
        <h1>Congratulations</h1>
        <p class="result-text">{{ name }}, you are {{ entity }}!</p>

        <h2>Conclusion</h2>
        <p class="conclusion-text">
            So, what did you get? Whether you're a Black Hole or an Interdimensional Being, remember that the universe is vast and full of wonders—just like you. Now go ahead, share your cosmic identity and astound your friends! 🌌
        </p>
    </div>
</body>
</html>
