<!DOCTYPE html>
<html>
<head>
    <title>Pop Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/quiz/styles.css">
</head>
<body>
    <form class="quiz-container">
        <h1>Buzzfeed Quiz: What Type of Cosmic Entity Are You Based on Your Breakfast Choices?</h1>
        <p>Greetings, Earthling! 🌍 Ever wondered if your breakfast choices could reveal your true identity as a cosmic entity? Well, you're in luck! This quiz will unveil your celestial alter-ego based on your morning munchies. Prepare to be starstruck! ✨
        </p>
            <!-- Question 1 -->
        <div class="question">
            <h1>What is your name?</h1>
            <input type="text" name="name" required><br>
        </div>
        <input type="hidden" name="quiz" value="1">

        <button type="submit">Submit</button>
    </form>
</body>
</html>
