<!DOCTYPE html>
<html>
<head>
    <title>Pop Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/quiz/styles.css">
</head>
<body>
    <form class="quiz-container">

        <div class="question">
            <h1 class="question-number" id="question-1">Question 1/5</h1>
            <h1>What's your go-to breakfast drink?</h1>
            <input type="radio" name="drink" value="a" required> Coffee, black as a black hole<br>
            <input type="radio" name="drink" value="b" required> Green smoothie, as vibrant as a nebula<br>
            <input type="radio" name="drink" value="c" required> Water, the essence of life<br>
            <input type="radio" name="drink" value="d" required> Galactic cocktail, a mix of unknown substances<br>
        </div>
        <input type="hidden" name="quiz" value="2">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
