<!DOCTYPE html>
<html>
<head>
    <title>Pop Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/quiz/styles.css">
</head>
<body>
    <form class="quiz-container">

        <div class="question">
            <h1 class="question-number" id="question-1">Question 2/5</h1>
            <h1>How do you like your eggs?</h1>
            <input type="radio" name="egg" value="a" required> Scrambled, like the chaos of the universe<br>
            <input type="radio" name="egg" value="b" required> Sunny-side up, like a rising sun<br>
            <input type="radio" name="egg" value="c" required> Hard-boiled, solid and unchanging<br>
            <input type="radio" name="egg" value="d" required> What are eggs?<br>
        </div>
        <input type="hidden" name="quiz" value="3">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
