<!DOCTYPE html>
<html>
<head>
    <title>Pop Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/quiz/styles.css">
</head>
<body>
    <form class="quiz-container">

        <div class="question">
            <h1 class="question-number" id="question-1">Question 4/5</h1>
            <h1>Pick a fruit:</h1>
            <input type="radio" name="fruit" value="a" required> Apple, the forbidden fruit<br>
            <input type="radio" name="fruit" value="b" required> Starfruit, obviously<br>
            <input type="radio" name="fruit" value="c" required> Banana, the crescent moon of fruits<br>
            <input type="radio" name="fruit" value="d" required> Dragon fruit, as exotic as extraterrestrial life<br>
        </div>
        <input type="hidden" name="quiz" value="5">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
