<!DOCTYPE html>
<html>
<head>
    <title>Pop Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/quiz/styles.css">
</head>
<body>
    <form class="quiz-container">

        <div class="question">
            <h1 class="question-number" id="question-1">Question 3/5</h1>
            <h1>Choose a breakfast carb:</h1>
            <input type="radio" name="carb" value="a" required> Sourdough toast, a little tangy<br>
            <input type="radio" name="carb" value="b" required> Croissant, light and flaky<br>
            <input type="radio" name="carb" value="c" required> Bagel, a perfect circle<br>
            <input type="radio" name="carb" value="d" required> Pancakes with a black hole in the middle<br>
        </div>
        <input type="hidden" name="quiz" value="4">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
