<!DOCTYPE html>
<html>
<head>
    <title>Pop Quiz</title>
    <link rel="stylesheet" type="text/css" href="/static/quiz/styles.css">
</head>
<body>
    <form class="quiz-container">

        <div class="question">
            <h1 class="question-number" id="question-1">Question 5/5</h1>
            <h1>What's your ideal breakfast setting?</h1>
            <input type="radio" name="setting" value="a" required> A quiet café on Mars<br>
            <input type="radio" name="setting" value="b" required> Floating in the Andromeda Galaxy<br>
            <input type="radio" name="setting" value="c" required> At the edge of the universe<br>
            <input type="radio" name="setting" value="d" required> Inside a wormhole<br>
        </div>
        <input type="hidden" name="quiz" value="6">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
